/* Global CSS */
* {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
    text-transform: uppercase;
}
button {
    color: #00e0d0;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #00e0d0;
    border-radius: 4px;
    width: 140px;
    height: 40px;
    margin-top: 30px;
}
button:hover {
    color: white;
    background-color: #00e0d0;
}
input, textarea {
    padding: 10px;
    margin: 10px 0;
    width: 70%;
    box-sizing: border-box;
}
hr {
    width: 10%;
    margin: 20px 45% 50px 45%;
}
/* end of global CSS */

nav {
    color: red;
}

#hero-section {
    color: blue;
}

#our_story-section {
    color: green;
}

#watch-section {
    color: darkred;
}

#expertise-section {
    color: fuchsia;
}

/* Owen's CSS */
#team-section {
    color: white;
    background-image: url('../images/bgk-header.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.team-text h2 {
    margin-bottom: 18px;
}

.team-member {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.25em;
}

.team-role {
    text-transform: uppercase;
    font-size: 0.8em;
}

.team-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
    column-gap: 20px;
    margin: 70px auto;
    max-width: 800px;
}

.team-grid-item-picture {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-grid-item-picture img {
    opacity: 0.9;
    width: 100%;
    min-height: 90px;
    min-width: auto;
    max-height: 200px;
    max-width: 200px;
}

.team-grid-item-name {
    border: 1px solid #89839c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5em;
}

#contact_client-section {
    background-color: white;
}   

@media only screen and (max-width: 840px) {
    .contact-grid-container {
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
        column-gap: 20px;
        margin: 70px auto;
        row-gap: 70px;
    }
    .contact-grid-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    } 
}

@media only screen and (min-width: 840px) {
    .contact-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        column-gap: 20px;
        margin: 70px auto;
    }
    .contact-grid-item {
        display: flex;
        flex-direction: column;
        align-items: left;
    }
}

.client-logo-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 40px;
    max-width: 400px;
}

.client-logo-grid-item {
    justify-content: center;
}

.contact-grid-item h2 {
    margin-bottom: 40px;
}
/* end of Owen's CSS */

footer {
    color: blueviolet;
}