/* Global CSS */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
h1 {
    font-family: 'Playfair Display';
    font-weight: 600;
    font-size: 2em;
    letter-spacing: 0.32px;
    color: #ffffff;
    max-width: 700px;
}
h2 {
    font-family: 'Playfair Display';
    font-weight: 700;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}
/* correct colour for dark h2 text */
/* h2.dark {
    color: #413d4b;
} */
button {
    color: #00e0d0;
    background-color: transparent;
    text-transform: uppercase;
    font-family: 'Hammersmith One';
    font-weight: bold;
    border: 1px solid #00e0d0;
    border-radius: 4px;
    margin-top: 30px;
    padding: 15px 15px 15px 15px
}
button:hover {
    color: white;
    background-color: #00e0d0;
}
input, textarea {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}
.seperator-line {
    width: 50px;
    height: 1px;
    margin: 21px 0 30px 0;
}
/* end of global CSS */

.green-border {
    border: 2px solid green;
}



/* Grid */
.grid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: minmax(2em, 4fr) repeat(12,minmax(auto,1fr))
                            minmax(2em, 4fr);
}
.grid-content {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(12,minmax(auto,1fr));
}
.grid-row-header {
    grid-template-rows: 70px 1fr;
}
.grid-row-footer {
    grid-template-rows: 1fr 70px;
}
.grid_1-7 {
    grid-column: 1 / 7;
}
.grid_2-6 {
    grid-column: 2 / 6;
}
.grid_2-7 {
    grid-column: 2 / 7;
}
.grid_2-8 {
    grid-column: 2 / 8;
}
.grid_2-14 {
    grid-column: 2 / 14;
}
.grid_3-13 {
    grid-column: 3 / 13;
}
.grid_6-10 {
    grid-column: 6 / 10;
}
.grid_7-13 {
    grid-column: 7 / 13;
}
.grid_7-14 {
    grid-column: 7 / 14;
}
.grid_8-13 {
    grid-column: 8 / 13;
}
.grid_9-13 {
    grid-column: 9 / 13;
}
.grid_9-14 {
    grid-column: 9 / 14;
}
.grid_10-14 {
    grid-column: 10 / 14;
}
.grid_header {
    grid-column: 2 / 13;
}



/* Header styles */
header {
    background-image: url('../images/bgk-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 670px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #FFF;
}
.nav-left {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: start;
    
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 100;

    color: #00e0d0;
}
.nav-left img {
    margin: 15px 0 0 0;
}
.nav-left txt {
    margin: 11px 0 0 11px;
}
ul.nav-right  {
    flex: 1 1 auto;
    display: inline-flex;
    justify-content: space-between;

    height: 9px;
    /* width: 526px; */
}
ul.nav-right li a {
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;

    color: #FFF;
}
ul.nav-right li {
    list-style: none;
}
ul.nav-right li:hover a {
    color: #00e0d0;
}
ul.nav-right li:first-child a {
    color: #00e0d0;
}



/* Hero styles */
#hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#hero-section .seperator-line {
    background-color: #00e0d0;
}
#hero-section p {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.7px;

    color: #FFF;
}



/* Our-story section styles */
#our_story-section {
    padding: 70px 0 70px 0;

}
.ourstory-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
.ourstory-image-container img {
    width: 100%;
    max-width: 235px;
    max-height: 229px;
}
.ourstory-flexitem {
    /* max-width: 538px; */
}
.ourstory-flexitem p {
    margin:28px 0 21px 0;
    opacity: 0.75;
    color: #413d4b;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    /* Text style for "T, his is" */
    letter-spacing: 0.42px;
}
.ourstory-flexitem button {
    margin: 0;
}



/* Watch section styles */
#watch-section {
    background-image: url("../images/bgk-middle.png");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    height: 550px;
    padding: 202 0 0 0;
    justify-items: center;
    align-items: center;
}
.watch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.watch-container img {
    height: 100px;
    width: 100px;
}
.watch-container p {
    /* width: 156px; */
    height: 12px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    /* Text style for "W, ATCH OU" */
    letter-spacing: 0.8px;
    margin: 34px 0 0 0;
}



/* Expertise section styles */
#expertise-section {
    padding: 65px 0 0 0;
    text-align: center;
}
.expertise-container > p {
    margin: 10px 0 0 0;
    opacity: 0.75;
    color: #2f2d35;
    font-family: "Playfair Display";
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1.05px;
}
#expertise-section .seperator-line {
    background-color: #413d4b;
    opacity: 0.3;
    height: 2px;
    margin: 20px auto 50px auto
}
.expertise-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*width: 90%; /* keeps a margin only when the screen shrinks */
    /* column-gap: 20px; */
    padding: 0 0 70px 0;
    /*max-width: 940px; /* at normal desktop size this shows as 940px (as in the psd file), but needs padding when the browser is smaller */
}
.expertise-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 30px 5px 5px 5px;
}
.expertise-grid-item h3 {
    color: #413d4b;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    margin: 35px 0 20px 0;
}
/* this is not working */
.expertise-grid-item p {
    max-width: 254px;
    opacity: 0.75;
    color: #333333;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.7px;
}
.line-right {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.line-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}



/* Team styles */
#team-section {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    color: white;
    background-image: url('../images/bgk-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}
#team-section .seperator-line {
    background-color: #ffffff;
    opacity: 0.3;
    height: 2px;
    margin: 20px auto 45px auto
}
.team-text h2 {
    margin-bottom: 18px;
}
.team-member {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.25em;
}
.team-role {
    text-transform: uppercase;
    font-size: 0.8em;
}
.team-container {
    padding: 0 10px;
}
.team-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* width: 90%; /* keeps a margin only when the screen shrinks */
    column-gap: 20px;
    margin: 0 0 70px 0;
    /* max-width: 940px; /* at normal desktop size this shows as 940px (as in the psd file), but needs padding when the browser is smaller */
}
.team-grid-item-picture {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-grid-item-picture img {
    opacity: 0.9;
    width: 100%;
    min-width: auto;
}
.team-grid-item-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid #89839c;
    height: 5em;
}



/* Contact-Client styles */
#contact_client-section {
    padding: 100px 0 70px 0;
    background-color: white;
}
.contact-container {
    padding: 0 10px;
}
.contact-grid-item {
    /* display: flex;
    flex-direction: column;
    align-items: start; */
    /* width: 40%; */
    /* max-width: 460px; */
}
.contact-grid-item textarea {
    height: 200px;
}
.contact-grid-item ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.5;
    color: #413d4b;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    /* Text style for "Name" */
    letter-spacing: 0.7px;
}
.contact-grid-item :-ms-input-placeholder { /* Internet Explorer 10-11 */
    opacity: 0.5;
    color: #413d4b;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    /* Text style for "Name" */
    letter-spacing: 0.7px;
}
.contact-grid-item ::-ms-input-placeholder { /* Microsoft Edge */
    opacity: 0.5;
    color: #413d4b;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    /* Text style for "Name" */
    letter-spacing: 0.7px;
}
.client-grid-item {
    /* display: flex;
    flex-direction: column;
    align-items: start; */
}
.client-logo-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
    row-gap: 40px;
    margin-top: 20px;
    align-items: center;
    justify-items: center;
}
.contact-grid-item h2, .client-grid-item h2 {
    margin-bottom: 40px;
}



/* Footer styles */
footer {
    box-sizing: border-box;
    padding: 90px 0 70px 0;
    background-image: url('../images/bgk-footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* height: 400px; */
    color: #FFF;
}
.footer-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;

    padding: 0 10px;
    /* height: 400px; */
    color: #FFF;
}
.footer-grid-container h2 {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
}
#footer-left {
    display: flex;
    flex-direction: column;
}
.logo-section {
    display: flex;
    align-items: center;
    margin: 0 0 27px 0;
}
.logo-section img {
    width: 44px
}
.logo-section txt {
    padding: 0 0 0 11px;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 100;

    color: #00e0d0;
}
#footer-left p {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 200;
    line-height: 26px;
    text-align: left;
    letter-spacing: 0.35px;
}
#footer-middle {
    display: flex;
    flex-direction: column;
}
#footer-middle div:first-child {
    display: flex;
    flex-direction: row;
    align-items: start;

    margin: 42px 0 0 0;
}
#footer-middle div {
    display: flex;
    flex-direction: row;
    align-items: start;

    margin: 27px 0 0 0;
}
#footer-middle p {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 200;
    line-height: 26px;
    letter-spacing: 0.35px;

    margin: 0 0 0 15px;
}
#footer-right {
    display: flex;
    flex-direction: column;
}
#footer-right form {
    display: flex;
    flex-direction: row;
    gap: 10px;

    margin: 39px 0 0 0;
}
#footer-right input {
    height: 45px;
    margin: 0;

    border: 1px solid #ffffff;
    opacity: 0.5;
    background: transparent;
}
#footer-right ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.75;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.7px;
}
#footer-right :-ms-input-placeholder { /* Internet Explorer 10-11 */
    opacity: 0.75;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.7px;
}
#footer-right ::-ms-input-placeholder { /* Microsoft Edge */
    opacity: 0.75;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.7px;
}
#footer-right button {
    height: 45px;
    width: 70px;
    margin: 0;

    border: 1px solid #ffffff;
    background-color: #ffffff;
    opacity: 0.5;
    border-radius: 0;
}
#footer-right button:hover {
    border: 1px solid #ffffff;
    background-color: transparent;
}
#footer-right button img {
    width: 25px;
    padding: 0;
    margin: 0;
}
#footer-right div {
    margin: 27px 0 0 0;
}
#footer-right a img {
    height: 30px;
    width: 30px;
    margin: 0 4px 0 0;
}
#links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 0 0 0;

}
#links ul {
    flex: 0 1 300px;
    display: flex;
    justify-content: space-between;

    padding-inline-start: 0;
}
#links ul li {
    list-style: none;
}
#links ul li a {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    text-decoration: none;
    padding-right: 30px;
}
#links p {
    flex: 1 0 auto;
    text-align: right;
    display: block;
    color: #FFF;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.35px;
    text-decoration: none;
}



@media only screen and (max-width: 840px) {
    #our_story-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #our_story-section img{
        margin: 0 0 30px 0;
    }
    #contact_client-section {
        flex-direction: column;
        align-items: center;
    }
    #contact_client-section form {
        text-align: center;
    }
    .contact-grid-item, .client-grid-item {
        align-items: center;
    }
}